body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
	justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.accueil{
    margin: 10px;
}
.contact{
    margin: 10px;
}
.ilustration{
    position: relative;
    height: 450px;
}
.image{
    width: 100%;
    height: 100%;
}
.main-image{
    width: 100%;
    height: 100%;

}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(87,87,87);
}
.title{
    text-align: center;
    width: auto;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 650px;
}
h5{
    margin: 10px;
}
.activities{
    display: flex;
    margin-top: 30px;
    max-width: 800px;
    justify-content: space-between;

}
.box{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-icon{
    width: 70px;
}
.name{
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
}
.about{
    font-size: 12px;
    text-align: center;
}
.quote{
    margin-top: 30px;
    max-width: 600px;
    margin-bottom: 10px;
}
.text{
    text-align: center;
    font-size: 1.3em;
}
.author{
    text-align: center;
}
footer{
    background-color: #5b359d;
    color: white;
    padding-top: 10px;
}
.company{

    text-align: center;
}
.foot-nav{
    display: flex;
    justify-content: space-around;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-logo{
    width: 30px;
    margin: 0 40px 0 40px;
}